@import '../variaveis/variaveis.scss';

.titulo-imagem{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 9% 3% 0 3%;


    h1{
        width: 90%;
        font-size: 4vw;
        color: $branco;
        font-weight: 100;
    }

    img {
        width: 50%;
        
    -webkit-clip-path: polygon(50% 0%, 100% -3%, 109% 100%, 20% 100%, -109% -43%);
    clip-path: polygon(50% 0%, 100% -3%, 109% 100%, 20% 100%, -109% -43%);
    }

    .texto-botao{
        padding-right: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 25vh;

        button{
            display: flex;
            align-items: flex-end;
            width: 8vw;
             height: 4vh;
            justify-content: space-around;
            background: $verde-claro;
            font-size: 1vw;
            justify-content: space-around;
            border: none;
            :hover{
                cursor: pointer;
            }

            a{
                margin-top: 5%;
                text-decoration: none;
                display: flex;
                align-items: baseline;
                width: 114%;
                height: 100%;
                justify-content: space-around;
                align-content: center;
                flex-wrap: wrap;

                span{
                    align-self: center;
                }
            }   
        }
        .vetores{
            display: flex;
            
            .vetor{
                border: solid $verde-claro 1px;
                width: 31%;
            }
            .reto{
                
            
            }
            .cima{
                rotate: 95deg;
            }
            .baixo{
                rotate: 53deg;
            }
        }
    }

}

    