.titulo-imagem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3% 10% 0 3%;


    h1{
        width: 90%;
        font-size: 3vw;
        color: $branco;
        font-weight: 100;
    }

    img {
        width: 50%;
        
    -webkit-clip-path: polygon(50% 0%, 100% -3%, 109% 100%, 20% 100%, -109% -43%);
    clip-path: polygon(50% 0%, 100% -3%, 109% 100%, 20% 100%, -109% -43%);
    }

    .texto-botao{
        padding-right: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40vh;

        .vetor{
            border: solid $verde-claro 1px;
        }
        
    }

}