@media screen and (max-width: 600px) {
    header {
        position: fixed;
        width: 100vw;
        top: 0;
        background: $verde-escuro;

        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0% 3%;

            i {
                display: block;
                font-size: 40px;
                color: $branco;
            }

            .menu-navbar {
                display: none;
            }
        }
    }
}
