@media screen and (max-width: 600px) {
    @import '../variaveis/variaveis.scss';

    header {
        position: fixed;
        width: 105vw;
        top: 0;
        background: $ver;
        z-index: 2;

        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0% 3%;

            label{
                z-index: 3;
                #menu-open{
                    display: block;
                    font-size: 40px;
                    color: $verde-muito-escuro;
                    
                }
                #close{
                    display: none;
                    font-size: 40px;
                    color: $verde-muito-escuro;
                }
            }

            

            .logo{
                width: 60px;
                height: 60px;
                margin: 10px 2% 0px 2%;
                z-index: 3;
        
            }

            .menu-navbar {
                z-index: 2;
                position: absolute;
                background: white;
                top: 0;
                height: 105vh;
                width: 105%;
                left: -9px;
                padding-top: 25%;
                
                li{
                    display: flex;
                    align-items: flex-start;
                    color: $verde-escuro;
                    font-size: 5vw;
                    width: 85%;
                    flex-direction: row;
                    border-bottom: 1px solid $verde-escuro;
                    justify-content: space-between;
                    margin-left: 6%;
                    margin-top: 2%;
                }
                :hover{
                    border-bottom: 1px solid $verde-claro;
                }
     
            }
        }
    }


    .titulo-imagem{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 3% 3% 0 3%;
        flex-direction: column;


        h1{
            width: 90%;
            font-size: 6vw;
            color: $branco;
            font-weight: 100;
        }

        img {
            width: 50%;
            
        -webkit-clip-path: polygon(50% 0%, 100% -3%, 109% 100%, 20% 100%, -109% -43%);
        clip-path: polygon(50% 0%, 100% -3%, 109% 100%, 20% 100%, -109% -43%);
        }

        .texto-botao{
            height: 12vh;
            width: 92vw;
            margin-top: 20%;
            margin-left: 9%;

            button{
                display: flex;
                align-items: flex-end;
                width: 100%;
                height: 4vh;
                justify-content: space-around;
                background: $verde-claro;
                font-size: 1vw;
                
                justify-content: space-around;

                span{
                    align-self: center;
                }
            }
            .vetores{
                display: flex;
                
                .vetor{
                    border: solid $verde-claro 1px;
                    width: 31%;
                }
                .reto{
                    
                
                }
                .cima{
                    rotate: 95deg;
                }
                .baixo{
                    rotate: 53deg;
                }
            }
        }

    }
}