@import '../variaveis/variaveis.scss';

.navbar{
    display: flex;
    align-items: center;
    width: 100vw;
    position: fixed;
    background: $ver;
    z-index: 3;
    top: 0;
    
    .logo{
        width: 60px;
        height: 60px;
        margin: 10px 2% 0px 2%;

    }
    input{
        display: none;
    }

    #menu-open{
        display: none;
    }
    #close{
        display: none;
    }
    
    .menu-navbar{
        width: 41vw;
        margin-left: 2%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            display: flex;
            color: $branco;

            li{
                align-items: center;
                font-size: 1vw;
                width: 16%;
                justify-content: space-around;

            }

        }
        li{
            /* Estilo para o container dos detalhes */
            .details-container {
                position: relative;
                margin-right: 19px;
            }

            /* Estilo para os detalhes */
            details {
                position: absolute;
                top: -11px;
                left: -30px;
                width: 300px;
                font-size: 1vw;
                color: $branco;

                ul{
                    background: $branco;
                    width: 46vw;
                    border-radius: 20px;
                    padding: 13px 21px 17px 14px;
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-between;
                    height: 13vh;
                    box-shadow: 2px 5px 5px 3px rgba(0, 0, 0, 0.5);
                    justify-content: space-between;


                    li{
                        

                        a{
                            color: $ver;
                            display: flex;
                            width: 343px;
                            align-items: center;
                            justify-content: space-between;
                            border-bottom: 1px $ver solid;

                            span{
                                font-size: 15px;
                            }
                        }
                    }
                }
            }

            /* Estilo para os detalhes resumidos */
            summary {
                list-style: none;
                display: flex;
                align-items: center;
            }
        }
        
        :hover{
            color: $verde-claro;
            cursor: pointer;
            
        }
    }
}