.navbar{
    display: flex;
    align-items: center;
    width: 100vw;
    
    .logo{
        width: 60px;
        height: 60px;
        margin: 10px 2% 0px 2%;

    }

    i{
        display: none;
    }
    
    .menu-navbar{
        width: 41vw;
        margin-left: 2%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li{
            display: flex;
            align-items: center;
            color: $branco;
            font-size: 1vw;
            width: 16%;
            justify-content: space-around;
        }
        :hover{
            color: $verde-claro;
            cursor: pointer;
        }
    }
}