@import '../variaveis/variaveis.scss';

.projetos, .outros-projetos{
    h2{
        font-size: 2vw;
        color: $branco;
    }
    .container-cards{
        box-sizing: border-box;
        display: flex;
        margin-top: 3%;
        width: 93vw;
        justify-content: space-between;
        flex-wrap: nowrap;
        
        .cards{
            box-sizing: border-box;
            display: flex;
            background: $branco;
            padding: 5px;
            width: 33%;
            font-size: 20px;
             flex-direction: column;
             color: $verde-escuro;
             border: 0.5px solid $verde-escuro;
            }

            img{
                width: 100%;
                height: 85%;
                
            }
            p{
                margin-top: 2%;
            }
            .linha{
                border: 0.5px solid $cinza;
                margin: 0 0 9px 0px;
            }

            button{
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                height: 4vh;
                padding-left: 2%;
                font-size: 1vw;

                a{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    color: $ver!important;
                }


                span{
                    align-self: center;
                }
            }

            
        }
    }
.projetos{
    margin: 6% 0 0 3%;

}
.localizacao-outrosProjetos{
    background: $branco;
    clip-path: polygon(37% -28%, 516% 115%, 98% 219%, -252% -12%, 6% 0%);
    height: 130vh;
    margin-top: 3%;

    .outros-projetos{
        display: flex;
        flex-direction: column;
        align-items: center;

            h2{
                color: $verde-muito-escuro;
                align-self: baseline;
                margin-top: 2%;
                margin-left: 3%;
            }

        .outros-projetos{
            font-size: 2vw;
            color: $verde-escuro;
        }
    }
}