@import '../variaveis/variaveis.scss';

.projetos, .outros-projetos{
    h2{
        font-size: 2vw;
        color: $branco;
    }

    }
.projetos{
    margin: 6% 0 0 3%;
  
    .container-cards{
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        width: 30%;

        .cards{
            background: $branco;
            padding: 2px;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 9px 6px 1px rgb(0, 0, 0 , 0.5);
            margin-right: 2%;
            

            .link-cards{
                color: $ver;
                
                img{
                    width: 34rem;
                    height: 24rem;
                }

                .linha{
                    border-bottom: solid $ver 1px;
                    margin: 2% 0%;
                }

                p{
                    margin-left: 2%;
                }
            
            }

            .text-botton{
                color: $ver;
                display: flex;
                justify-content: space-between;
                height: 4vh;
                align-items: center;
                font-size: 1rem;
                margin-left: 2%;
            }
        }
    }
    
}
.localizacao-outrosProjetos{
    background: $branco;
    clip-path: polygon(37% -28%, 516% 115%, 98% 219%, -252% -12%, 6% 0%);
    height: 130vh;
    margin-top: 3%;

    .outros-projetos{
        display: flex;
        flex-direction: column;
        align-items: center;

            h2{
                color: $verde-muito-escuro;
                align-self: baseline;
                margin-top: 2%;
                margin-left: 3%;
            }

        .outros-projetos{
            font-size: 2vw;
            color: $verde-escuro;
        }

        .container-cards{
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            width: 30%;
            position: relative;
            left: -32%;
    
            .cards{
                background: $branco;
                border: solid $ver 1px;
                padding: 2px;
                display: flex;
                flex-direction: column;
                box-shadow: 0px 9px 6px 1px rgb(0, 0, 0 , 0.5);
                margin-right: 2%;
                
    
                .link-cards{
                    color: $ver;
                    
                    img{
                        width: 34rem;
                        height: 24rem;
                    }
    
                    .linha{
                        border-bottom: solid $ver 1px;
                        margin: 2% 0%;
                    }

                    p{
                        margin-left: 2%;
                    }
                
                }
    
                .text-botton{
                    color: $ver;
                    display: flex;
                    justify-content: space-between;
                    height: 4vh;
                    align-items: center;
                    font-size: 1rem;
                    margin-left: 2%;
                }
            }
        }
    }
}