@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Josefin+Sans:ital,wght@0,400;0,500;0,600;1,300&family=Lilita+One&family=Overpass:wght@600&display=swap');

*{
margin: 0;
padding: 0;
font-family: 'Josefin Sans', sans-serif;
}

body {
max-width: 1400px;
}

.nav {
display: flex;
justify-content: space-between;
align-items: center;
margin: 1% 1%;
}

input {
display: none;
}

.nav__bar {
display: none;
}

.itens {
display: flex;
justify-content: space-evenly;
gap: 25%;
list-style: none;
font-size: 20px;
box-sizing: border-box;
width: 300px;
height: 22px;
}

li:hover {
border-bottom: #96e78b 4px solid;
cursor: pointer;
}

.nav__textos {
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
width: 100vw;
height: 10%;
gap: 11px;
margin-top: 5%;
}

h1 {
font-size: 65px;
font-family: 'Fjalla One', sans-serif;
font-weight: 400;
}

.nav__textos h2 {
font-size: 35px;
font-family: 'Josefin Sans', sans-serif;
font-weight: 500;
font-style: italic;
}

.icon2 {
display: none;
}

.espaco{
    position: relative;
    left: 40%;
    margin-top: 10%;
}


@media (max-width: 500px) {
    .nav__bar{
        display: block;
        font-size: 54px;
        position: absolute;
        top: 2%;
        right: 3%;
        z-index: 9999;
    }

    input{
        display: none;
    }

    .itens{
        display: none;
        background: #c5e78b;
        position: absolute;
        left: 0;
        top: 0%;
        width: 100%;
        height: 28%;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: nowrap;
        gap: 0;
        align-items: center;
    }
    li{

        border-bottom: solid 1px #fff;
        
    }

    .nav__textos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        flex-direction: column;
        height: 10%;
        gap: 11px;
        margin-top: 22%;
        text-align: center;
    }

    h1 {
        font-size: 27px;
        font-family: 'Fjalla One', sans-serif;
        font-weight: 400;
    }

    .nav__textos h2 {
        font-size: 18px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 500;
        font-style: italic;
    }    
    
    .imagens{
        width: 10px;
        height: 10px;
    }

    main{
    display: flex;
    justify-content: center;
    }
}