.containerInfos{
    margin-top: 5%;
    background: $branco;

    h1{
        margin-left: 2%;
        padding-top: 5%;
        color: $ver;
    }

    section{
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 5% 0% 0 2%;
        padding-bottom: 5%;

        p{
            width: 45%;
        }

        img{
            width: 45%;
        }

        .img2{
            width: 24%;
            height: 65vh;
        }
    }
    
}