@import '../variaveis/variaveis.scss';

$cor-primaria: #3498db;
$cor-fundo: #f2f2f2;
$fonte-principal: Arial, sans-serif;

// Estilos gerais
body {
    font-family: $fonte-principal;
   
    margin: 0;
    padding: 0;
}
.usuario-principal {
      h1 {
        font-size: 24px;
      }
  
      form {
        input[type="file"] {
          display: block;
          margin: 10px 0;
        }
  
        input[type="submit"] {
          background-color: #007bff;
          color: #fff;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
        }
      }
  
      h2 {
        font-size: 20px;
      }
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          a {
            text-decoration: none;
            color: #007bff;
            transition: color 0.3s;
  
            &:hover {
              color: #0056b3;
            }
          }
        }
      }
    }

  